// Override bootstrap classes
$theme-colors: (
  "primary": #003366,
);

// Custom Colors
$theme-a: #0059B3;
$theme-b: #265380;
$theme-c: #003366;
$theme-d: #3674B3;
$theme-e: #0080FF;
$theme-f: #476b8f;
$theme-g: #BED8E4;
$theme-h: #DDF2FF;
$accent-a: #fff6b5;
