.services {
    
    &__header {
        text-align: center;
        color: $theme-blue;
    }

    &__details {
        text-align: left;
        padding: 1.5rem 0.75rem;
    }

    &__button {
        margin: 1.75rem 0.5rem 0.2rem;
    }
}


