// Title Section

#title {
    // background-color: white;
    background-image: url("/images/landscape-1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 2rem;
}

.welcome {
    margin: 5rem 0 7rem 0;

    @include media-breakpoint-down(md) {
        margin: 1rem 0 0.25rem 0;
    }

    &__banner {
        text-align: center;
        // background-color: rgba(255, 255, 255, 0.8);
        color: $theme-c;

        h1 {
            font-family: "Fondamento", cursive;
            font-size: 4rem;
            margin-bottom: 2rem;
            color: white;

            @include media-breakpoint-down(sm) {
                font-size: 1.85rem;
            }
        }

        p {
            font-family: "Varela Round", sans-serif;
            font-size: 1.1rem;
            color: white;

            @include media-breakpoint-down(sm) {
                font-size: 1rem;
            }
        }
    }
}



// Services Section

#services {
    background-color: $theme-f;
    padding: 0.1rem 1rem 1rem 1rem;
}

.services {
    text-align: center;
    background-color: rgba(255, 255, 255, 0);
    color: $theme-g;
    padding-top: 3rem;
    margin: 1rem 12% 4rem;

    @include media-breakpoint-down(md) {
        margin: 1rem auto 0.4rem;
    }

    h2 {
        font-family: "Varela Round", sans-serif;
        font-size: 2.35rem;
        font-weight: 700;
        margin-bottom: 4.5rem;
        color: white;

        @include media-breakpoint-down(sm) {
            font-size: 1.7rem;
            margin-bottom: 0;
        }
    }

    h3 {
        font-weight: bold;
        color: $theme-h;
        padding-top: 5.25rem;

        @include media-breakpoint-down(sm) {
            padding-top: 0;
        }
    }


    @include media-breakpoint-down(sm) {
        padding-top: 2rem;
    }
}

.services-row {
    margin: auto;
    text-align: left;
    padding: 3rem;

    @include media-breakpoint-down(sm) {
        text-align: center;
        padding: 3rem 1rem;
    }
}

.img-eggs {
    width: 14rem;
    border-radius: 50%;
    float: left;
    margin: 0 3rem 2rem 0;

    @include media-breakpoint-down(md) {
        width: 12rem;
    }

    @include media-breakpoint-down(sm) {
        margin: 0 auto 0;
        float: left;
        width: 9rem;
        margin-right: 1.2rem;
    }
}

.img-camp {
    width: 14rem;
    border-radius: 50%;
    float: right;
    margin: 0 0 2rem 3rem;

    @include media-breakpoint-down(md) {
        width: 12rem;
    }

    @include media-breakpoint-down(sm) {
        margin: 0 auto 0;
        float: left;
        width: 9rem;
        margin-right: 1.2rem;
    }
}

.img-cattle {
    width: 14rem;
    border-radius: 50%;
    float: left;
    margin: 0 3rem 2rem 0;

    @include media-breakpoint-down(md) {
        width: 12rem;
    }

    @include media-breakpoint-down(sm) {
        margin: 0 auto 0;
        float: left;
        width: 9rem;
        margin-right: 1.2rem;
    }
}

.service-heading-eggs {
    @include media-breakpoint-down(sm) {
        text-align: left;
        font-size: 1.4rem;
        margin: 1.4rem 0 0.9rem 10rem;
    }
}

.service-heading-camp {
    text-align: right;

    @include media-breakpoint-down(sm) {
        text-align: left;
        font-size: 1.4rem;
        margin: 1.4rem 0 0.9rem 10rem;
    }
}

.service-heading-cattle {
    @include media-breakpoint-down(sm) {
        text-align: left;
        font-size: 1.4rem;
        margin: 1.4rem 0 0.9rem 10rem;
    }
}

.service-desc-eggs {
    clear: left;
    line-height: 2;
    margin: 0 40% 0 0;

    @include media-breakpoint-down(sm) {
        font-size: 0.8rem;
        text-align: left;
        clear: none;
        margin: 0;
    }

    @include media-breakpoint-down(md) {
        margin: 0;
    }
}

.service-desc-camp {
    clear: right;
    text-align: right;
    line-height: 2;
    margin: 0 0 0 40%;

    @include media-breakpoint-down(sm) {
        font-size: 0.8rem;
        text-align: left;
        clear: none;
        margin: 0;
    }

    @include media-breakpoint-down(md) {
        margin: 0;
    }
}

.service-desc-cattle {
    clear: left;
    line-height: 2;
    margin: 0 40% 0 0;

    @include media-breakpoint-down(sm) {
        font-size: 0.8rem;
        text-align: left;
        clear: none;
        margin: 0;
    }

    @include media-breakpoint-down(md) {
        margin: 0;
    }
}



// Testimonials Section

#testimonials {
    background-color: $theme-g;
    padding: 0.1rem 1rem 1rem 1rem;
    text-align: center;
    color: $theme-c;
}

.testimonials {
    padding-top: 2rem;
    margin: 1rem 1% 4rem;

    @include media-breakpoint-down(sm) {
        margin-bottom: 2rem;
    }

    h2 {
        margin-bottom: 3rem;

        @include media-breakpoint-down(sm) {
            font-size: 1.7rem;
        }
    }

    h4 {
        color: $theme-b;
        margin-bottom: 2.2rem;

        @include media-breakpoint-down(sm) {
            font-size: 1rem;
        }
    }

    em {
        color: $theme-f;

        @include media-breakpoint-down(sm) {
            font-size: 0.9rem;
        }
    }
}

.carousel-item {
    padding: 0 20%;
}

.carousel-control-prev {
    @include media-breakpoint-down(sm) {
        position: relative;
        display: inline-block;
        margin: 2rem 2rem 0 2rem;
    }
}

.carousel-control-next {
    @include media-breakpoint-down(sm) {
        position: relative;
        display: inline-block;
        margin: 2rem 2rem 0 2rem;
    }
}



// Features Section

#features {
    padding: 0 1rem;
    background-color: $theme-b;
}

.feature {
    text-align: center;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    margin-bottom: 0;

    h2 {
        font-family: "Varela Round", sans-serif;
        font-size: 2.35rem;
        font-weight: 700;
        margin-bottom: 1.5rem;

        @include media-breakpoint-down(sm) {
            font-size: 1.7rem;
            margin-bottom: 1rem;
        }
    }

    @include media-breakpoint-down(sm) {
        padding-top: 3rem;
    }
}

.cta {
    padding-top: 2rem;

    @include media-breakpoint-down(sm) {
        padding-top: 1rem;
    }
    
    &__card {
        padding: 2rem;
    }

    &__header {
        text-align: center;
        color: $theme-d;

        h3 {
            margin: 0;

            @include media-breakpoint-down(sm) {
                font-size: 1.4rem;
            }
        }  

        .icon {
            color: $theme-d;
            padding: 0.25rem 0.25rem 0 0;  
        }
    }

    &__details {
        padding: 1.5rem 0.2rem 0.8rem 0.2rem;
        color: $theme-b;
        height: 100%;

        ul {
            text-align: left;
            height: 50%;
            padding-left: 2rem;
        }
    }

    &__button {
        margin: 1.75rem 0.5rem 0.2rem;
        text-align: center;
    }

}

.card {
    height: 100%;
}

.card-body {
    height: 14rem;
}


