<h1>Order Your Eggs!</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.egg_order_path(@conn, :create)) %>

<span><%= link "Cancel", to: Routes.egg_order_path(@conn, :index), class: "btn btn-danger" %></span>
